body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #e0e0e0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3 {
  font-family: "Merienda";
  color: #808080;
  font-size: 25px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main h2 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
  font-family: "Merienda";
  color: #808080;
}

canvas {
  display: block;
  margin: 0 auto;
  height: 400px;
}
