body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #a7beae;
}

.container {
  border: 2px solid #333;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  max-height: 600px;
  background-color: #fff;
  text-align: center;
  overflow-y: auto;
  margin-left: 50px;
}

label {
  display: block;
  margin-top: 10px;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3b77f0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #2f63c2;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #2f63c2;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

.login_img {
  height: 300px;
  position: absolute;
  left: 100px;
}
